<html>
<title> Sessions demo </title>
<body bgcolor="lightblue">
<h1>Welcome to the sessions demo!</h1>
<br>

<form action="/login" method="post">
  User name:<br>
  <input type="text" name="username" value="">
  <br>
  Password:<br>
  <input type="password" name="password" value="">
  <br><br>
  <input type="submit" value="Signin">
</form>
<p>Register <a href="/register">here</a></p>

<% if (message) { %> 
  <p><%= message %></p>
<% } %>

</body>
</html>
